* {
    margin: 0%;
    padding: 0%;
    font-family: "PT Serif", serif;
}

.header {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.header-heading {
    width: 278px;
height: 47px;
padding-top: 110px;
padding-left: 243px;
gap: 0px;
opacity: 0px;
font-family:"PT Serif", serif ;
font-size: 32px;
font-weight: 700;
line-height: 47.7px;
letter-spacing: -0.045em;
text-align: left;
width: 50%;

}

.header-info {
    width: 50%;
}


.header-info > h3 {
    width: 117px;
height: 27px;
padding-top: 110px;

gap: 0px;
opacity: 0px;
font-family: "Poppins";
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;
color: #000000;

}

.header-info > p {
    width: 439px;
height: 87px;
font-family: "Poppins";
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;

padding-top: 15px;
gap: 0px;
opacity: 0px;

}


.main-container {
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
    margin-top: 50px;
    padding-left: 11%;
    padding-right: 5%;

    margin-bottom: 150px;
   
}


.items > img {
    width: 238px;
height: 341px;
top: 330px;
left: 901px;
gap: 0px;
opacity: 0px;

}

.name {
    width: 117px;
height: 27px;
top: 686px;
left: 240px;
gap: 0px;
opacity: 0px;
font-family: "Poppins";
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;
color: #000000;

}

.title {
    width: 102px;
height: 16px;
padding-right: 290px;
padding-top: 100px;

gap: 0px;
opacity: 0px;
transform: rotate(-90deg);
font-family:"PT Serif", serif;
font-size: 12px;
font-weight: 400;
line-height: 15.9px;
text-align: left;
color: #000000;

}

.red {
    padding-top: 60px;
}

.names {
    width: 128px;
height: 27px;
top: 791px;
left: 571px;
gap: 0px;
opacity: 0px;
font-family: "Poppins";
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;
color: #000000;

}



.footer {
    font-family: "Montserrat", sans-serif;
    color: #A9A9A9;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: center;

}

.footer > p > a {
    font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 17.07px;
text-align: center;
color: #A9A9A9;


}



@media screen and (max-width:375px) {


    .section {
        width: 375px;
        height: 1406px;
    }


    .header {
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .header-heading {
        width: 100%;
        padding: 10px;
        padding-right: 20px;
        font-size: 22px;
        padding-top: 75px;
        
        font-weight: 700;
        color:#000000;
    }


    .header-info > p {
        font-size: 14px;
        color:#000000;
        font-weight: 400;
        padding: 10px;
        
        padding-top: 10px;
    }

    .header-info > h3 {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
        padding-left: 10px;
        padding-top: 25px;
    }


    .main-container {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: -70px;
       
        padding-left: 1%;
        padding-right: -400%;
        margin-bottom: 500px;
    }


    .items > img {
        width: 129px;
        height:209.44px;
    }

    .items {
        width: 114px;
height: 247px;
top: 619px;
left: 19px;
gap: 0px;
opacity: 0px;
padding-right: 10px;


    }


    .title {
        font-size: 10px;
        padding-right: 140px;
padding-top: 30px;

    }


    .grey {
        margin-top: 70px;
    }

 .black {
    margin-top: 110px;
 }


 .footer {
    text-align: center;
    padding-right: 50px;
    margin-bottom: 5px;
 }








































}

